.container {
  text-align: center;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: url("/public/checked.svg");
  display: flex;
  background-color: #060;
  color: #fff;
}
.inner:after {
  content: "";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

.section-products {
  margin-top: 100px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.label-wrapper input {
  width: 300px;
  padding: 10px;
  background: none;
  border: 1px solid #ccc;
  color: green;
  border-radius: 5px;
}

.label-wrapper select {
  width: 300px;
  padding: 10px;
  background: none;
  border: 1px solid #ccc;
  color: green;
  border-radius: 5px;
}

.card-wrapper {
  max-width: 1440px;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #ccc;
}

.card img {
  width: 200px;
  height: 200px;
}

.card p {
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper button {
  padding: 10px;
  background: none;
  border: 1px solid green;
  color: green;
  border-radius: 5px;
  cursor: pointer;
}

.button-wrapper button:hover,
.button-wrapper button:active {
  opacity: 0.6;
}
